body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
