<!doctype html>
<html>
<head>
    <title>Image Classifier</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <form action="/register" method="post">
            <h2>Register</h2>
            <label for="name">Username:</label>
            <input type="text" id="name" name="name" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Register">
        </form>
        <form action="/">
            <h3>Go to login form</h3>
            <input type="submit" value="→">
        </form>
    </div>
</body>
</html>